# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\qwertygaerty\Projects\2021-2022\WEB\FRONT\VUE\TRAIN\6\vue_spa\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
